<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tonconnect/ui@2.0.9/dist/tonconnect-ui.min.js"></script>
    <title>Music App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Home page</h1>
        <div class="ton_connect_button" id="ton_connect_button"></div>
        <a href="/profile/5">Your Profile</a> <!-- Замените на реальный ID --><br>
        <button onclick="createAccount()">Создать аккаунт</button>
    </header>
    <main>
        <h2>All songs of users</h2>
        <ul>
            {{#each songs}}
            <li>
                Artist {{this.artist}} - {{this.title}}
                <audio controls>
                    <source src="{{this.path}}" type="audio/mpeg">
                    Ваш браузер не поддерживает элемент audio.
                </audio>
            </li>
            {{/each}}
        </ul>
        <button onclick="window.location.href='/album/create'">Создать альбом</button>
    </main>
    <script src="/script.js"></script>
</body>
</html>

